
//-----Burger-Menu------------------------------------*//


nav.header__menu.menu
    button.menu__button(type="button" aria-expanded="false" aria-controls="menu__list")
        svg.menu__icon(aria-hidden="true" width="32" height="32")
            use.menu__icon-menu(xlink:href="img/sprite.svg#menu")
            use.menu__icon-cross(xlink:href="img/sprite.svg#cross")
    ul.menu__list#menu__list
        li.menu__item
            a(href="#").menu__link Text
        li.menu__item
            a(href="#").menu__link Text
        li.menu__item
            a(href="#").menu__link Text
        li.menu__item
            a(href="#").menu__link Text