ul.menu__list.menu__vert
    li.menu__item
        a(href="#").menu__link item - 1
        ul.submenu
            li.menu__item
                a(href="#").menu__link podmenu - 1
            li.menu__item
                a(href="#").menu__link podmenu - 2
            li.menu__item
                a(href="#").menu__link podmenu - 3

    li.menu__item
        a(href="#").menu__link item - 2
        ul.submenu
            li.menu__item
                a(href="#").menu__link podmenu - 1
            li.menu__item
                a(href="#").menu__link podmenu - 2
            li.menu__item
                a(href="#").menu__link podmenu - 3
                ul.submenu.submenu__next
                    li.menu__item
                        a(href="#").menu__link podmenu - 1
                    li.menu__item
                        a(href="#").menu__link podmenu - 1
                    li.menu__item
                        a(href="#").menu__link podmenu - 1


    li.menu__item
        a(href="#").menu__link item - 3
        ul.submenu
            li.menu__item
                a(href="#").menu__link podmenu - 1
            li.menu__item
                a(href="#").menu__link podmenu - 2
            li.menu__item
                a(href="#").menu__link podmenu - 3

    li.menu__item
        a(href="#").menu__link item - 4
