form.form
    .form__title
    .form__subtitle
    input(type="text" placeholder="Name").form__input
    input(type="tel" placeholder="Phone").form__input.phone_input
    textarea(placeholder="Message").form__textarea
    button.form__button Оставить заявку