
//Images---------------------------------------------

picture.className__img
    source(type="image/avif" srcset="img/avif@1x.avif 1x,img/avif@2x.avif 2x")
    source(type="image/webp" srcset="img/webp@1x.webp 1x,img/webp@2x.webp 2x")
        img(type="image/jpg" src="img/jpg@1x.jpg" srcset="img/jpg2x.jpg" alt="")