//-- Modal -->

.modal__wrapper
    .modal
        .modal__close
            img(src="img/cancel.svg" alt="cancel" width="10px" height="10px")
        .modal__title Заголовок
        .modal__body
a(href="#").btn.modal__btn Открыть

//-- /Modal -->
