//-- Modal -->

button.button-modal.open-modal Open modal

.modal#modal
    h2 Поменять заголовок
    span Текст
    p текст параграф
    p текст параграф
    button.button-modal.close-modal Close modal

    form.form(method="dialog")

//-- /Modal -->
