//-- Tabs -->
.tabs
    .tabs__header
        .tabs__header-item.active Вкладка 1
        .tabs__header-item Вкладка 2
        .tabs__header-item Вкладка 3
        .tabs__header-item Вкладка 4
        .tabs__header-item Вкладка 5
    .tabs__content
        .tabs__content-item tab11
        .tabs__content-item tab22
        .tabs__content-item tab33
        .tabs__content-item tab44
        .tabs__content-item 5

//-- /Tabs -->