header.header
    nav.header__menu.menu._container
        include ../partials/button

        ul.menu__list
            li.menu-item
                a(href="#").active Главная
            li.menu-item
                a(href="#") Блог
            li.menu-item
                a(href="#") Поддержка
            li.menu-item
                a(href="#") О нас

