button(type="button" aria-label="button" aria-expanded="false" aria-controls="menu__list").menu__button
    svg.menu__icon(aria-hidden="true" type="image/svg+xml" width="25" height="25")
        use(href="../../../images/menu_button/sprite.svg#menu").menu__icon--menu
        use(href="../../../images/menu_button/sprite.svg#cross").menu__icon--cross