doctype html
html(lang="ru")
    head
        //title TODO:
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", type="text/css", href="css/main.css")
    body
        .wrapper
            //- header
            include ../modules/header
            //- page content
            //include ../modules/main
                ._container
                    include ../partials/modal.pug
            //- footer
            //include ../modules/footer


        //- JS scripts
    //script(src="../js/index.js")
