
doctype html
html(lang="en")
    head
        title Relvise
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", type="text/css", href="css/style.css")
    body
        //- page wrapper
        .wrapper
            //- header
            include ../modules/header.pug
            //- page content
            include ../modules/main.pug
            //- footer
            include ../modules/footer.pug

        //- JS scripts
        //script(src="js/libs/libs.js")
        script(src="js/script.js")
