doctype html
//TODO: Check lang attribute
html(lang="en").page
    head
        //TODO: Check Title
        title 🛑 Change me
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", type="text/css", href="css/style.css")
    body.page__body
        //- page wrapper
        .wrapper
            //- header
            include ../../components/header/header.pug
            //- page content
            include ../modules/main.pug
            //- footer
            include ../modules/footer.pug

        //- JS scripts
        //- Отображение svg
        //-script(src="js/libs/svg4everybody.js")
        //-script(src="js/libs/swiperPartials.js")
        //-script(src="js/libs/swiperBundle.js")
        //-script(src="js/libs/jquery.js")
        //-script(src="js/libs/jquery.magnific-popup.js")
        script(src="js/main.js")
        //-script(src="js/libs/libs.js")



//-🛑 Change me
