.page {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.page__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.screen {
  flex: 1 0 100%;
  position: relative;
}

.page__pagination {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  @media (width <= 1365px) {
    display: none;
  }
}

.page__bullet {
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-color: rgb(33, 33, 33);
  margin: 10px 0;
  border-radius: 50%;
  transition: background-color 0.3s ease 0s;
}

.page__bullet-active {
  background-color: #f1c232;
}

.page__scroll {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.page__drag-scroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f1c232;
  cursor: pointer;

}
