header.header
    .header__container._container
        .header__logo
            .logo
                a(href="#")
                    img(src="../../images/logo/logo.svg", alt="").logo__img
            .logo__contact
                p.logo__contact_text Заказ туров и бронирование:
                a(href="tel:80508543543").logo__contact_phone тел. 8-050-8-543-543
        ul.header__menu
            li.header__menu_link
                a(href="#").header__menu_item Бронирование
            li.header__menu_link
                a(href="#").header__menu_item Экскурсии
            li.header__menu_link
                a(href="#").header__menu_item Туры
            li.header__menu_link
                a(href="#").header__menu_item Об Африке
            li.header__menu_link
                a(href="#").header__menu_item О нас


