include ../mixins/svg_mixin.pug
main.main
    //section.main__screen
    //    h1.screen__header Mavic 3
    //    picture.screen__image
    //        source(type="image/webp" srcset="../../images/content/mavic-3.webp")
    //        img(type="image/jpg" src="../../images/content/mavic-3.png" alt="foto mavic 3")
    //    p.screen__text Квадрокоптер Dji Mavic 3 КАМЕРА HASSELBLAD С МАТРИЦЕЙ CMOS 4/3
    //    .screen__social
    //        a(href="#").social__fb
    //        a(href="#").social__youtube
    //        a(href="#").social__instagram
    //    a(href="#").arrow_down
    //        img(src="../../images/icons/social/arrow_bottom.svg", alt="arrow bottom").arrow_down-img

