include ../mixins/svg_mixin.pug
main.main
    section.main__top
        .main__image._ibg
            img(src="../../images/bg/bg.jpg", alt="cover")
        .main__text._container
            h1.main__text_title Сафари по Африке
            .main__text_subtitle
                .main__text_text Туры по самым экзотическим местам #[br]Поехали с нами за новыми впечатлениями!
                button(type="button" aria-label="button").main__text_button Оставить заявку
                a(href="#")
                    img(src="../../images/bg/arrow.svg", alt="").main__text_arrow
    .direction._container
        .direction__card
            .direction__card_item
                a(href="#")
                    img(src="../../images/country/namibia.jpg", alt="Намибия").direction__card_img
                    p.direction__card_text Намибия
        .direction__card
            .direction__card_item
                a(href="#")
                    img(src="../../images/country/tanzania.jpg", alt="Танзания").direction__card_img
                    p.direction__card_text Танзания
        .direction__card
            .direction__card_item
                a(href="#")
                    img(src="../../images/country/kenia.jpg", alt="Кения").direction__card_img
                    p.direction__card_text Кения
        .direction__card
            .direction__card_item
                a(href="#")
                    img(src="../../images/country/botsvana.jpg", alt="Ботсвана").direction__card_img
                    p.direction__card_text Ботсвана
        .direction__card
            .direction__card_item
                a(href="#")
                    img(src="../../images/country/keiptoun.jpg", alt="Кейптаун").direction__card_img
                    p.direction__card_text Кейптаун
        .direction__card
            .direction__card_item
                a(href="#")
                    img(src="../../images/country/madagaskar.jpg", alt="Мадагаскар").direction__card_img
                    p.direction__card_text Мадагаскар
        .direction__card
            .direction__card_item
                a(href="#")
                    img(src="../../images/country/Zanzibar.jpg", alt="Занзибар").direction__card_img
                    p.direction__card_text Занзибар
        .direction__card
            .direction__card_item
                a(href="#")
                    img(src="../../images/country/uar.jpg", alt="ЮАР").direction__card_img
                    p.direction__card_text ЮАР
        .direction__card
            .direction__card_item
                a(href="#")
                    img(src="../../images/country/mozambique.jpg", alt="Мозамбик").direction__card_img
                    p.direction__card_text Мозамбик
        .direction__card
            .direction__card_item
                a(href="#")
                    img(src="../../images/country/zambia.jpg", alt="Замбия").direction__card_img
                    p.direction__card_text Замбия
        .direction__card
            .direction__card_item
                a(href="#")
                    img(src="../../images/country/kongo.jpg", alt="Конго").direction__card_img
                    p.direction__card_text Конго
    .container__subscribe._container
        //img(src="../../images/test/flower_moz.jpg", alt="").container__picrure
        picture.container__picrure
            source(type="image/avif" srcset="../../images/test/avif.avif 1x,images/test/avif2x.avif 2x")
            source(type="image/webp" srcset="../../images/test/webp.webp 1x,images/test/webp2x.webp 2x")
            img(type="image/jpg" src="../../images/test/river_mozJPEG-2.jpg" srcset="../../images/test/river_mozJPEG-2.jpg" alt="flower")
