header.header
    nav.header__menu.menu._container
        include ../../components/header/_button/header_button.pug

        ul.menu__list
            li.menu-item
                a(href="#").active Главная
            li.menu-item
                a(href="#") Для политиков
            li.menu-item.menu-item-23
                a(href="#") PR Фабрика
            li.menu-item.menu-item-28
                a(href="#") Оставить заявку
            li.menu-item.menu-item-29
                a(href="#") Контакты