//- Project Primary-Color ( Основные цвета )
$primary-color: #FF7B47;
//- Project Secondary-Color ( Вторичные цвета )
$disabled-element-color: #8EC2F2;
$dark-background-color: #252B42;
$light-background-color: #FFFFFF;
$background-color: #FAFAFA;
$secondary-color-1: #0D5C63;
$secondary-color-2: #17213C;
//- Project Primary-Text-Color ( Основные цвета )
$text-color: #252B42;
//- Project Secondary-Color ( Вторичные цвета )
$second-text-color: #737373;
$light-text-color: #FFFFFF;





