@import "reset";
@import "fonts";
@import "variables";
//@import "helpers/sprite";
//@import "helpers/video";
//swiper_slider стандарт
//@import "node_modules/swiper/swiper";
//подключаем нужные модули для слайдера
//@import "node_modules/swiper/modules/pagination/pagination";
//@import "node_modules/swiper/modules/grid/grid";
//@import "node_modules/swiper/modules/navigation/navigation";
//magnific_popup
//@import "helpers/magnific_popup";
//-----------------------------------------------------//
html{

}

body {
  background-color: #FFFFFF;
  color: $text-color;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;

}

//------------------------------------------------------//
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1150px;
  padding: 0 15px;
  margin: 0 auto;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}

//@media (max-width: 1439.98px) {
//    ._ibg img {
//        object-fit: cover;
//        object-position: right;
//    }
//}

//------Main-------------------------------------------------
.main {
  flex: 1 1 auto;
}

//---------Подключаем компоненты-----------------------------

//-----------------------------------------------------------
@import "../components/header/header.scss";
