@import "reset.min";
@import "helpers/fonts";
@import "helpers/variables";
//@import "helpers/video";
//swiper_slider стандарт
//@import "node_modules/swiper/swiper";
//подключаем нужные модули для слайдера
//@import "node_modules/swiper/modules/pagination/pagination";
//@import "node_modules/swiper/modules/grid/grid";
//@import "node_modules/swiper/modules/navigation/navigation";
//magnific_popup
//@import "helpers/magnific_popup";
//-----------------------------------------------------//
html{

}

body {
  background-color: #FFFFFF;
  color: $text-color;
  //font-family: "Ubuntu", sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.13;
  //letter-spacing: ;

}

//------------------------------------------------------//
.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  min-height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  //display: flex;
  //flex-direction: column;
}

._container {
  max-width: 1110px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}

//@media (max-width: 1439.98px) {
//    ._ibg img {
//        object-fit: cover;
//        object-position: right;
//    }
//}


//------Main-------------------------------------------------
.main {
  //flex: 1 1 auto;
}

//---------Подключаем компоненты-----------------------------

//-----------------------------------------------------------
//@import "helpers/header_grid";
@import "helpers/header_flex";
//@import "../components/main/_screen/main_screen";
//@import "../components/footer/footer.scss";
