//-- Accordion -->
.accordion
    .accordion__item
        .accordion__item-trigger
            .trigger__num 01
            .trigger__text Аккордеон триггер
            .trigger__img
                span.line1
                span.line2
        .accordion__item-content
            .content__text Какой-то рандомный текст для аккордеона

    .accordion__item
        .accordion__item-trigger
            .trigger__num 02
            .trigger__text Аккордеон триггер
            .trigger__img
                span.line1
                span.line2
        .accordion__item-content
            .content__text Какой-то рандомный текст для аккордеона

    .accordion__item
        .accordion__item-trigger
            .trigger__num 03
            .trigger__text Аккордеон триггер
            .trigger__img
                span.line1
                span.line2
        .accordion__item-content
            .content__text Какой-то рандомный текст для аккордеона

//-- /Accordion -->
