//-- Navbar -->
nav
    .container
        .navbar
            .logo
                a(href="#") #freelance
            .menu
                .menu__list
                    .menu__list-item
                        a(href="#") Портфолио
                    .menu__list-item
                        a(href="#") Обо мне
                    .menu__list-item
                        a(href="#") Контакты
        .burger
            span
//-- /Navbar -->
